{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Инженерный проект</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
        <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                <a href="#" class="brand-logo">WorkSearch</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'vacancies' %}" class="selected">Вакансии</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Отзывы</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Поиск</a></li>
                    <li><a href="">Отзывы</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </div>
    </header>
    <main>
        <div class="container">
            {% block title %}{% endblock %}
            {% block search %}{% endblock %}
            <div class="container__content">
               <div class="container__block">
        {% block content %}
                   {% endblock %}
               </div>
            </div>
            {% block pagination %}{% endblock %}
        </div>
    {% block pic %}{% endblock %}
        {% block content2 %}

        {% endblock %}

    </main>
        <footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="container__center">
               <p>© 2021 WorkSearch</p>
            </div>
            <p>Все права защищены</p>
        </div>
    </div>
  </footer>






    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    </body>
</html>

