{% extends 'main/base.html' %}
{% load static %}
{% block title %}
<h1>Удаление отзыва</h1>
{% endblock %}
{% block deletereviews %}
<form method="POST">
        {% csrf_token %}
        <h5>Вы правда хотите удалить этот отзыв?</h5>
        <button class="btn waves-effect waves-light" type="submit" name="action">Удалить</button>
        <a href="/reviews">Вернуться к отзывам</a>
    </form>
<div class="section white">
        <div class="row">
            <h1 class="header">Немного о нас</h1>
            <p class="grey-text text-darken-3 lighten-3">
                Мы рады приветствовать вас на нашем сайте! Мы новый сервис по поиску работы, здесь собраны самые актуальные вакансии со всех городов России. А наши профессионалы помогут вам подобрать адекватную работу и проконсультировать по ряду важных и серьезных вопросов, например, по сотавлению резюме или с чего начать вообще.
                Мы предоставляем кучу сервисов по написанию резюме!

            </p>
             <hr>
            <p>
                Наш сервис гарантирует вам, что вы найдете работу за 3 дня. Мы подберем для вас отличную должность, рядом с вашим домом и достойной заработной платой.
                Наш телефон +7(945)7870000 ждет вашего звонка для консультации!
            </p>
        </div>
</div>
{% endblock %}
