{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
    <title>Поиск работы</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <div class="wrapper__header" role="banner">
                <div class="wrapper__container" role="navigation">
                    <div class="body">
                        <button id="button" class="body__button">WorkSearch</button>
                        <div class="body__header-burger">
                            <span></span>
                        </div>
                        <nav class="body__menu">
                            <ul class="body__list">
                                <li>
                                    <a href="{% url 'vacancies' %}" class="body__link" role="link">Вакансии</a>
                                </li>
                                <li>
                                    <a href="{% url 'reviews' %}" class="body__link" role="link">Отзывы</a>
                                </li>
                                <li>
                                    <a href="{% url 'arcticle' %}" class="body__link" role="link">Статьи</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper" id="wrapper">
             <h1>Найди работу быстро</h1>
        </div>
        <div class="gg"></div>
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
