{% extends 'main/base.html' %}
{% load static %}
{% block title %}
<div class="addreview">
    <h1>Наши отзывы</h1>
    <button class="container__button"><a class="waves-effect waves-light btn-large" href="{% url 'adreview' %}">Добавить отзыв</a></button>
    </div>
<span><i>Сегодняшняя дата</i> : {% now "jS F Y H:i" %}</span>
<h5>Всего отзывов: {{ count2 }}</h5>
{%  endblock %}

{% block reviews %}

{% for el in page_object.object_list %}
        <div class="reviews">
               <div class="reviews__card">
                    <div class="review">
                        <div class="review__content">
                            <h4 class="review__name">{{ el.name }}</h4>
                            <img class="review__image" src="https://yt3.ggpht.com/a/AATXAJwgHplxvzUq--p96fs0hqQ49SlpR89bX1YxEZe_Ew=s900-c-k-c0xffffffff-no-rj-mo" alt="">
                            <p class="review__mail"><b>{{ el.surname }}</b></p>

                        </div>
                        <div class="review__content1">
                            <h3 class="review__title">{{ el.title }}</h3>
                            <p class="review__message">{{ el.message }}</p>
                            <div class="review__links">
                                <a class="review__link1" href="{% url 'review_update' id_review=el.id_review %}">Редактировать</a>
                                <a class="review__link2" href="{% url 'review_delete' id_review=el.id_review %}">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endfor %}

{% endblock %}
{% block pagination %}
<ul class="pagination">
    <li class="{% if not prev_url %} disabled {% endif %}"><a href="{{ prev_url }}"><i class="material-icons">chevron_left</i></a></li>
    {% for n in page_object.paginator.page_range %}
        {% if page_object.number == n %}
              <li class="active"><a href="?page={{ n }}">{{ n }}</a></li>
        {% else  %}
            <li class="waves-effect"><a href="?page={{ n }}">{{ n }}</a></li>
        {% endif %}
    {% endfor %}
    <li class="waves-effect {% if not next_url %} disabled {% endif %}"><a href="{{ next_url }}"><i class="material-icons">chevron_right</i></a></li>
</ul>
{% endblock %}
