{% extends 'main/base.html' %}
{% block title %}
<h1>Актуальные вакансии</h1>
{% endblock %}

{% block content %}

{% for el in vacancies %}

            <div class="block"><h4 class="block__title">{{ el.name_of_vacancy }}</h4>
                   <p class="block__description"> <b>Описание:</b> {{ el.description }}</p>
                <div class="block__salary"><b>Заработная плата:</b> {{ el.salary_of_mounth }} тыс.руб.</div>
                   <div class="block__graphic"><b>График работы:</b> {{ el.graphic_of_work }}</div>
                </div>
{% endfor %}
{% block pagination %}
<div class="pagination">
 <span class="step-links">
  {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}">Предыдущая</a>
  {% endif %}
    <span class="current">
  Страница {{ page.number }} из {{ page.paginator.num_pages }}.
    </span>
  {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Следующая</a>
  {% endif %}
  </span>
</div>
{% endblock %}
{% endblock %}

